# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
click==6.7
flask==0.12.2
gunicorn==19.1.0
itsdangerous==0.24
jinja2==2.9.6
markupsafe==0.23
openssl==1.0.2l
pastedeploy==1.5.2
pip==9.0.1
python==2.7.13
readline==6.2
setuptools==27.2.0
sqlite==3.13.0
tk==8.5.18
werkzeug==0.12.2
wheel==0.29.0
zlib==1.2.8
